#loader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 999;
	display: none;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

.backend_login .col-md-6 { display: flex; justify-content: center; align-items: center; }

.logs h1 { color: grey; font-size: 2rem; margin-top: 60px; font-weight: 300; }
.logs .table-dark { font-size: 0.75rem; font-weight: 100; }
.logs .table-dark td { text-align: left; }
.logs .table-dark td a { color: #a6dd0d; }
.logs .table-dark td a:hover { color: #ffffff; }
.logs table tr th {
	color: #a6dd0d;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sorting {
  background-color: #000000;
}

.asc:after {
  content: ' ↑';
}

.desc:after {
  content: " ↓";
}

.content_image {
	position: relative;
}

#deleteImage {
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	top: 5px;
	right: 15px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#deleteImage:hover {
	background-color: red;
}

#deleteImage:hover i {
	color: white;
}

#deleteImage i {
	color: red;
	font-size: 1rem;
}

.content_imagenes .parrafo_sin_imagenes {
	margin: 45px 0 30px 0;
	font-weight: 700;
	text-align: center;
	color: grey;
}

.content_imagenes .form-group.col-md-2 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.content_imagenes .form-group.col-md-2 button {
	width: 100%;
}

.content_prospectos .prospecto_actual {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
	color: orange;
	display: inline-block;
	margin: auto;
}

.content_prospectos .prospecto_actual:hover {
	opacity: 0.6;
}

.content_prospectos .prospecto_actual i {
	font-size: 2.5rem;
	margin-left: 10px;
}

/* MEDIA QUERIES */

/* Dispositivos extra pequeños (teléfonos de retrato, menos de 576px) */
@media (max-width: 575.98px) {

}

/* Dispositivos pequeños (teléfonos apaisados, 576px y más) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Dispositivos medianos (tabletas, 768px y más) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Dispositivos grandes (escritorios, 992px y más) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}
